# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
venv/
ENV/
env/
.virtualenvs/

# Pipenv
Pipfile.lock

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.coverage
htmlcov/

# Alembic (if you add later)
alembic/versions/*.pyc
