[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
xgboost = "*"
joblib = "*"
notebook = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.13"
